body {
  background-color: #fff;
  font-size: 28upx;
  line-height: 1;
  color: $textTitle;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  box-sizing: border-box;
}