// background
$bg-default: var(--bg-0);
$bg-primary: var(--bg-1);

// text
$text-title: var(--fg-0);
$text-desc: var(--fg-1);
$text-tips: var(--fg-2);

// line
$line-light: var(--fg-3);
$line-dark: var(--fg-2);

// color
$primary: var(--brand);
$warn: var(--red);

// link
$link: var(--link);


$dimmed-background       : rgba(0, 0, 0, .4) !default;
$light-dimmed-background : rgba(255, 255, 255, .6) !default;

$separator-color         : rgba(0, 0, 0, .12) !default;
$separator-dark-color    : rgba(255, 255, 255, .28) !default;

$red: var(--red);
$orange: var(--orange);
$yellow: var(--yellow);
$green: var(--green);
$light-green: var(--light-green);
$brand: var(--brand);
$blue: var(--blue);
$indigo: var(--indigo);
$purple: var(--purple);
$white: var(--white);
$link: var(--link);
$link-active: var(--link-active);
$textgreen: var(--textgreen);

$colorMap: (
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "light-green": $light-green,
  "brand": $brand,
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "white": $white,
  "link": $link,
  "link-active": $link-active,
  "textgreen": $textgreen
);

$font-sizes: (
  "xs": 20upx,
  "sm": 24upx,
  "md": 28upx,
  "lg": 32upx,
  "xl": 36upx,
  "2xl": 40upx,
  "3xl": 60upx,
  "4xl": 80upx,
  "5xl": 100upx,
  "6xl": 120upx
);

$space-auto : (x: auto, y: auot)   !default;
$space-none : (x: 0, y: 0)         !default;
$space-xs   : (x: 10upx, y: 10upx) !default;
$space-sm   : (x: 20upx, y: 20upx) !default;
$space-md   : (x: 30upx, y: 30upx) !default;
$space-lg   : (x: 40upx, y: 40upx) !default;
$space-xl   : (x: 50upx, y: 50upx) !default;

$spacings: (
  "auto": $space-auto,
  "none": $space-none,
  "xs": $space-xs,
  "sm": $space-sm,
  "md": $space-md,
  "lg": $space-lg,
  "xl": $space-xl
);

$borderSizes: (
  "thin": 1upx,
  "md": 1px,
  "thick": 2px
);