@mixin varsLight {
  --bg-0: #ededed;
  --bg-1: #f7f7f7;
  --bg-2: #fff;
  --bg-3: #f7f7f7;
  --bg-4: #4c4c4c;
  --bg-5: #fff;
  --fg-0: rgba(0, 0, 0, 0.9);
  --fg-half: rgba(0, 0, 0, 0.9);
  --fg-1: rgba(0, 0, 0, 0.5);
  --fg-2: rgba(0, 0, 0, 0.3);
  --fg-3: rgba(0, 0, 0, 0.1);

  --brand: #07c160;
  --red: #fa5151;
  --orange: #fa9d3b;
  --yellow: #ffc300;
  --green: #91d300;
  --lightgreen: #95ec69;
  --blue: #10aeff;
  --indigo: #1485ee;
  --purple: #6467f0;
  --white: #fff;
  --link: #576b95;
  --link-active: fade(#576b95, 50%);
  --textgreen: #06ae56;
  --fg: black;
  --bg: white;

  --tag-text-orange: #fa9d3b;
  --tag-background-orange: rgba(250, 157, 59, 0.1);
  --tag-text-green: #06ae56;
  --tag-background-green: rgba(6, 174, 86, 0.1);
  --tag-text-blue: #10aeff;
  --tag-background-blue: rgba(16, 174, 255, 0.1);
  --tag-text-black: rgba(0, 0, 0, 0.5);
  --tag-background-black: rgba(0, 0, 0, 0.05);
}
