// background
$bg-default: var(--bg-0);
$bg-primary: var(--bg-1);

// text
$text-title: var(--fg-0);
$text-desc: var(--fg-1);
$text-tips: var(--fg-2);

// line
$line-light: var(--fg-3);
$line-dark: var(--fg-2);

// color
$primary: var(--brand);
$warn: var(--red);

// link
$link: var(--link);
